In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno # To visualize missing value
import plotly.graph_objects as go # To Generate Graphs
import plotly.express as px # To Generate box plot for statistical representation
%matplotlib inline

In [ ]:
df=pd.read_csv('/content/sample_data/1.SouthAfricaHDataset.csv')

In [ ]:
df.head(5)

   sbp  tobacco   ldl  adiposity  famhist  type a  Obesity  Alcohol  age  chd
0  160    12.00  5.73      23.11        1      49    25.30    97.20   52    1
1  144     0.01  4.41      28.61        0      55    28.87     2.06   63    1
2  118     0.08  3.48      32.28        1      52    29.14     3.81   46    0
3  170     7.50  6.41      38.03        1      51    31.99    24.26   58    1
4  134    13.60  3.50      27.78        1      60    25.99    57.34   49    1

In [ ]:
df.shape

(462, 10)

In [ ]:
df.columns

Index(['sbp', 'tobacco', 'ldl', 'adiposity', 'famhist', 'type a', 'Obesity',
       'Alcohol', 'age', 'chd'],
      dtype='object')

In [ ]:
df.info

<bound method DataFrame.info of      sbp  tobacco    ldl  adiposity  ...  Obesity  Alcohol  age  chd
0    160    12.00   5.73      23.11  ...    25.30    97.20   52    1
1    144     0.01   4.41      28.61  ...    28.87     2.06   63    1
2    118     0.08   3.48      32.28  ...    29.14     3.81   46    0
3    170     7.50   6.41      38.03  ...    31.99    24.26   58    1
4    134    13.60   3.50      27.78  ...    25.99    57.34   49    1
..   ...      ...    ...        ...  ...      ...      ...  ...  ...
457  214     0.40   5.98      31.72  ...    28.45     0.00   58    0
458  182     4.20   4.41      32.10  ...    28.61    18.72   52    1
459  108     3.00   1.59      15.23  ...    20.09    26.64   55    0
460  118     5.40  11.61      30.79  ...    27.35    23.97   40    0
461  132     0.00   4.82      33.41  ...    14.70     0.00   46    1

[462 rows x 10 columns]>

In [ ]:
df.nunique()

sbp           62
tobacco      214
ldl          329
adiposity    408
famhist        2
type a        54
Obesity      400
Alcohol      249
age           49
chd            2
dtype: int64

In [ ]:
df.dtypes

sbp            int64
tobacco      float64
ldl          float64
adiposity    float64
famhist        int64
type a         int64
Obesity      float64
Alcohol      float64
age            int64
chd            int64
dtype: object

In [ ]:
df.isnull().sum()

sbp          0
tobacco      0
ldl          0
adiposity    0
famhist      0
type a       0
Obesity      0
Alcohol      0
age          0
chd          0
dtype: int64

In [ ]:
duplicated=df.duplicated().sum()
if duplicated:
  print("Duplicates rows in dataset are:{}".format(duplicated))
else:
  print("Dataset contains no duplicated values")

Dataset contains no duplicated values

In [ ]:
df.describe()

              sbp     tobacco         ldl  ...     Alcohol         age         chd
count  462.000000  462.000000  462.000000  ...  462.000000  462.000000  462.000000
mean   138.326840    3.635649    4.740325  ...   17.044394   42.816017    0.346320
std     20.496317    4.593024    2.070909  ...   24.481059   14.608956    0.476313
min    101.000000    0.000000    0.980000  ...    0.000000   15.000000    0.000000
25%    124.000000    0.052500    3.282500  ...    0.510000   31.000000    0.000000
50%    134.000000    2.000000    4.340000  ...    7.510000   45.000000    0.000000
75%    148.000000    5.500000    5.790000  ...   23.892500   55.000000    1.000000
max    218.000000   31.200000   15.330000  ...  147.190000   64.000000    1.000000

[8 rows x 10 columns]